<div class="ml-4 flex-shrink-0">
  <%= form_tag path, method: :delete do %>
    <div class="flex w-full items-center justify-center">
      <button type="submit" class="w-32 inline-flex items-center py-3 bg-red-600 text-white rounded-lg shadow tracking-wide border border-red-300 cursor-pointer hover:bg-red-700 hover:text-white text-center font-medium px-6" data-confirm="Are you sure you want to delete all data?">
        <span class="mt-0 text-xs leading-normal">Delete Data</span>
      </button>
    </div>
  <% end %>
</div>
