<div class="ml-4 flex-shrink-0">
  <%= form_tag path, multipart: true do %>
    <div class="flex w-full items-center justify-center bg-grey-lighter">
      <label class="data-import">
        <%= render "cloud_icon" %>
        <span class="px-3 mt-0 text-xs leading-normal">Import Data</span>
        <%= file_field_tag :file,
                           class: "hidden",
                           onchange: "this.form.submit();" %>
      </label>
    </div>
  <% end %>
</div>
