<div class="rounded-md bg-green-50 p-4">
  <div class="flex">
    <div class="flex-shrink-0">
      <%= render "check_circle_icon" %>
    </div>
    <div class="ml-3">
      <p class="text-sm font-medium text-green-800">
        <%= message %>
      </p>
    </div>
  </div>
</div>
